.dashboard-element {
	background-color: black;
	width: 256px;
	height: 65px;
	font-weight: bold;
	font-size: 30pt;
	padding: 5px;
	margin-top:10px;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
}

.slider {
	width: 60px;
	background-color: gainsboro;
	padding: 3px;
}

.emergency-stop {
	width: 200px !important;
}

.slider .spacer {
	display:inline-block;
}

.slider-state {
	background-color: gray;
	width: auto;
	text-align: center;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

.field input {
	border: none;
	border-bottom: dotted 2px;
	width: 100px;
	text-align: center;
}

.regionbox .menubutton {
	float:right;
	margin-right: 8px;
}

.buttonspacer {
	height: 40px;
}

.dashboard-element.warn .right{
	color: rgb(250, 42, 0);
}

.field span.units {
	margin-left: 10px;
}

.field {
	float: right;
	margin-right: 20px;
}

.horizontal-field {
	margin-bottom: 20px;
}

.regionbox {
	width: 512px;
	border: 2px solid black;
	margin-top:20px;
	padding-left:10px;
	margin-bottom: 30px;
}

.regiontitle {
	margin-top: -20;
	padding-right: 10px;
	background-color: white;
	position: relative;
	padding-left:10px;
	margin-left: -20px;
	display: inline-block;
}

.authentication-overlay {
	position: absolute;
	width: 100vw;
	height: 100vh;
	color: white;
	background-color: black;
	top: 0;
	left: 0;
	opacity: 0.9;
}

.authentication-dialog {
	margin-left: auto;
	margin-right: auto;
	width: 512;
	margin-top: 100px;
	height: 512px;
}

.authentication-dialog h1 {
	color: white;
	border-bottom: none;
}

.authentication-dialog input {
	font-size: 25pt;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
}

input.log_textbox {
	width: 550px;
	height: 36px;
	font-size: 15pt;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
}

.log_element_message {
	font-size: 15pt;
}

.log_element {
	width: 550px;
	margin-top: 10px;
	border-bottom: 1px solid #EEEEEE;
}

.log_element_timestamp {
	float: right;
	position: relative;
	top: 8px;
	font-style: italic;
	color: grey;
}

.dashboard-element .left {
	color: white;
	text-align: center;
	width: 30%;
	font-weight: bold;
	font-size: 30pt;
	float: left;
}

.dashboard-element.h2o .left {
	font-size: 24pt;
	margin-top:5px;
}

.dashboard-element .right {
	background-color: white;
	width: 69%;
	float: left;
	text-align: center;
}

div.menubutton {
	width: 100px;
	display: inline-block;
	margin: 5px;
	text-align: center;
	font-weight: bold;
	padding: 2px;
	margin-left: 0;
	margin-right: 5px;
	cursor: hand;
}

#control {
	height: 40px;
}

div.log {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}